@{
    ViewData["Title"] = "Home Page";
}
<h1>Dashboard</h1>

<h4>Entity Management</h4>
<p><a asp-controller="Department" asp-action="Index">Department</a></p>
<p><a asp-controller="Employee" asp-action="Index">Employee</a></p>