@model IList<CCMS.Models.Allotment>
@{
    ViewData["Title"] = "Allotments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Allotments</h1>

<table class="table">
    <tr>
        <th>Date</th>
        <th>DOW</th>
        <th>Allowed</th>
    </tr>
    <tbody id="Allotments">
        @foreach (var allotment in Model)
        {
            <tr>
                <td><a asp-controller="Department" asp-action="EditAllotment" asp-route-id=@allotment.Id>@allotment.Date.Date.ToString("yyyy-MM-dd")</a></td>
                <td>@allotment.Date.Date.DayOfWeek.ToString().Substring(0,3)</td>
                <td>@(allotment.Allowed / 8)</td>
            </tr>
        }
    </tbody>
</table>