@model CCMS.ViewModel.ViewDepartmentViewModel
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Department.Name</h1>
<p>@Model.Department.Description</p>

<p><a asp-controller="Department" asp-action="Index">Departments</a></p>

<ul>
    <li>
        <a asp-controller="Department" asp-action="Edit" asp-route-id=@Model.Department.Id>Edit Department</a>
    </li>
    <li>
        Allotments
        <ul>
            @foreach (var year in Model.AllotmentYears)
            {
                <li>
                    <a asp-controller="Department" asp-action="ViewAllotments" asp-route-id=@Model.Department.Id asp-route-year=@year>@year</a>
                </li>
            }
        </ul>
    </li>
</ul>

