@model CCMS.ViewModel.AddEmployeeViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Employee</h1>

<form asp-controller="Employee" asp-action="Add" method="post">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName"></label>
        <input class="form-control" asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="HireDate"></label>
        <input class="form-control" type="date" asp-for="HireDate" value=@DateTime.Now.Date.ToString("yyyy-MM-dd") />
        <span asp-validation-for="HireDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="ManagementUnits">Management Unit</label>
        <select asp-for="ManagementUnitId" asp-items="Model.ManagementUnits"></select>
    </div>

    <input type="submit" value="Add Employee" />

</form>
